@import url(https://fonts.google.com/specimen/Fraunces);
*{
    font-family: "Fraunces", sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    width: 1240px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(212, 27%, 19%);
}

/*header*/
.header{
    background-color:  hsl(189, 91%, 67%);
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: flex;
    align-items: center;
    gap: 30px;
    color:  hsl(0, 0%, 100%);
}
.creat{
    color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creat>img{
    width: 50%;
    height: 50%;

}

.container{
    width: 50%;

}

button{
    font-weight: 800;
    text-shadow: 5px;
    text-transform: uppercase;
    align-self: self-start;
    background: transparent;
    border: 0;
}
/*first*/
.big{
    width: 100%;
}
.first{
    display: flex;
    width: 100%;
    
}
.brand{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
}
.yellow{
    width: 50%;
}
.yellow>img{
    width: 100%;
    height: 100%;
}
/*second*/
.second{
    display: flex;
}
.cup{
    width: 50%;
}

.cup>img{
    width: 100%;
    height: 100%;
}
.stand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
}
/*third*/
.third{
    display: flex;
}
.apple{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(168, 34%, 41%);
    width: 50%;
    padding: 20px;
}




.apple>img{
    width: 50%;
}

.orange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 50%;
    padding: 20px;
}

.orange>img{
    width: 50%;
}
/*client*/
.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 100%);
    width: 100%;
}
.emily>img{
    border-radius: 100%;
    width: 50px;
}
.names{
    display: flex;
    gap: 10px;
    padding: 20px;  
}
.emily{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}

.emily>h6{
    font-weight: 800;
    margin-bottom: 0px;
}

.emily>p{
    color:  hsl(210, 4%, 67%);
    font-size: 10px;
}

/*images*/
.images{
    display: flex;
    width: 100%;
    
}
.images>img{
    width: 25%;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 30px;

}
.about{
    display: flex;
    gap: 30px;
    color:  hsl(213, 9%, 39%);
}
.media{
    display: flex;
    gap: 20px;
}
